<div style="width: 500px;">
    <h1>Primo Programma di prova eseguito presso la Nike Web Consulting</h1>
    <br>
    Nike Web Consulting fornisce soluzioni tecnologiche informatiche e
    servizi web a Pubbliche Amministrazioni ed Aziende Private dal 2002.
    <br>
    <br>
    In questa sezione potrai accedere ad una lista di utenti o crearne uno nuovo . 
    <br>
    <br>
    
    <button type="button" class="btn btn-warning" (click)="registrazionePersona()">Lista persone</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="visualizzaLista()">Crea persona</button>
    </div>
